
# Production
PROD_BASE_URL=https://www.googleapis.com/books/v1/
PROD_GOOGLE_BOOKS_API_KEY=your_production_api_key_here

# QA
QA_BASE_URL=https://qa.googleapis.com/books/v1/
QA_GOOGLE_BOOKS_API_KEY=your_qa_api_key_here

# Development
DEV_BASE_URL=https://dev.googleapis.com/books/v1/
DEV_GOOGLE_BOOKS_API_KEY=your_dev_api_key_here
